<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Usuario" #usuario="ngModel" [(ngModel)]="gener02.usuario" name="usuario" required>
					<small *ngIf="!usuario.valid && usuario.touched" class="invalid-feedback d-block">
						¡El usuario es requerido!
					</small>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Contraseña" #clave="ngModel" [(ngModel)]="gener02.clave" name="clave" required>
					<small *ngIf="!clave.valid && clave.touched" class="invalid-feedback d-block">
						¡La clave es requerida!
					</small>
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Ingresar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>Parque Automotor</h3>
				<h4>Comfamiliar de Nariño</h4>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>