<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">

    <title>Crear Conductores</title>
</head>

<body>

    <form #tipForm="ngForm" (ngSubmit)="onSubmit(tipForm)">
        <div class="row justify-content-center">
            <div class="col-md-10 offset-md-1">
                <span class="anchor" id="formComplex"></span>
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Ingrese la información requerida</h3>
                    </div>
                    <div class="card-body">

                        <div class="row mt-12">
                            <div class="col-sm-4 pb-3 form-group">
                                <label for="exampleAccount" for="doccon"><b>Cedula*</b></label>
                                <input type="text" class="form-control" id="exampleAccount" name="cedula"
                                    placeholder="Cedula" #cedula="ngModel" [(ngModel)]="conductores.cedula" required>
                                <small *ngIf="!cedula.valid && cedula.touched" class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3 form-group">
                                <label for="exampleAccount" for="nomcon"><b>Nombres*</b></label>
                                <input type="text" class="form-control" id="exampleAccount" name="nombre"
                                    placeholder="Nombres" #nombre="ngModel" [(ngModel)]="conductores.nombre" required>
                                <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3 form-group">
                                <label for="exampleAccount" for="apecon"><b>Apellidos*</b></label>
                                <input type="text" class="form-control" id="exampleAccount" name="apellidos"
                                    placeholder="Apellidos" #apellidos="ngModel" [(ngModel)]="conductores.apellidos"
                                    required>
                                <small *ngIf="!apellidos.valid && apellidos.touched" class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>

                        </div>
                        <div class="row mt-12">
                            <div class="col-sm-4 pb-3 form-group">
                                <label for="exampleAccount" for="doccon"><b>Sexo*</b></label>
                                <select class="form-select col" id="inputGroupSelect01" name="sexo" placeholder="sexo"
                                    for="sexo" #sexo="ngModel" [(ngModel)]="conductores.sexo" required>
                                    <option *ngFor="let td of tipo_sexo" value={{td.value}}>{{td.detalle}}</option>
                                </select>
                                <small *ngIf="!sexo.valid && sexo.touched" class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3 form-group">
                                <label for="exampleAccount" for="nomcon"><b>Celular*</b></label>
                                <input type="text" class="form-control" id="exampleAccount" name="celular"
                                    placeholder="Celular" #celular="ngModel" [(ngModel)]="conductores.celular" required>
                                <small *ngIf="!celular.valid && celular.touched" class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>
                            <div class="col-sm-4 pb-3 form-group">
                                <label for="exampleAccount" for="apecon"><b>Correo*</b></label>
                                <input type="text" class="form-control" id="exampleAccount" name="correo"
                                    placeholder="ejemplo@ejemplo.com" #correo="ngModel" [(ngModel)]="conductores.correo"
                                    required>
                                <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>

                        </div>
                        <div class="row mt-12">
                            <div class="col-sm-12 pb-3 form-group">
                                <label for="exampleAccount" for="doccon"><b>Observacion*</b></label>
                                <input type="text" class="form-control" id="exampleAccount" name="observacion"
                                    placeholder="Observacion" #observacion="ngModel"
                                    [(ngModel)]="conductores.observacion" required>
                                <small *ngIf="!observacion.valid && observacion.touched"
                                    class="invalid-feedback d-block">
                                    Dato Incorrecto!
                                </small>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row mt-4">
                            <div class="float-right">
                                <div class="row mt-4">
                                    <div class="col-sm-10 pb-3">
                                        <input class="btn btn-success" type="submit" value="Enviar Información"
                                            [disabled]="tipForm.invalid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>

    <cdk-virtual-scroll-viewport style="height: 600px" itemSize=10>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Observación</th>
                </tr>
            </thead>

            <tbody>
                <tr *cdkVirtualFor="let dt of conductores_res | filter:filterPost">
                    <td>{{dt.nombre}}</td>
                    <td>{{dt.apellidos}}</td>
                    <td>{{dt.sexo}}</td>
                    <td>
                        {{dt.cedula}}
                    </td>
                    <td>{{dt.celular}}</td>
                    <td>{{dt.correo}}</td>
                    <td>{{dt.observacion}}</td>
                </tr>

            </tbody>

        </table>
    </cdk-virtual-scroll-viewport>


</body>

</html>