$body-bg: #ffffff;
$form-bg: #151728;
$blanco: #fff;

$enviarDatos: #151728;

$color-principal: #151728;
$color-principal-light: lighten($color-principal,5%);
$color-principal-dark: darken($color-principal,5%);

$gris-light: #a0b3b0;
$gris: #ddd;

$thin: 150;
$normal: 400;
$bold: 600;
$br: 4px;

$fuente-principal: "Roboto", helvetica;
$fuente-secundaria: "Raleway", arial;

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    font-family: $fuente-principal;
}

a {
    text-decoration: none;
    color: $color-principal;
    transition: .5s ease;
    
    &:hover {
        color: $color-principal-dark;
    }
}

.contenedor-formularios {
    background: rgba($form-bg,.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}

.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
  
    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba($gris-light,.25);
        color: $gris-light;
        font-size: 16px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
        
        &:hover {
            background: $color-principal-dark;
            color: $blanco;
        }
    }
    
    .active a {
        background: $color-principal;
        color: $blanco;
    }
}

.contenido-tab > div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: $blanco;
    font-weight: $thin;
    font-size: 20px;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba($blanco,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    
    .req {
        margin: 2px;
        color: $color-principal;
    }
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    
    .req {
        opacity: 0;
    }
}

label.highlight {
    color: $blanco;
}

input {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px 5px;
    background: none;
    background-image: none;
    border: 1px solid $gris-light;
    border-top: none;
    border-left: none;
    border-right: none;
    color: $blanco;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
    &:focus {
        outline: none;
        border-color: $color-principal;
    }
}

.contenedor-input {
    position: relative;
    margin-bottom: 20px;
}

.fila-arriba {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    div {
        float: left;
        width: 48%;
        margin-right: 4%;
        
        &:last-child { 
            margin: 0;
        }
    }
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 16px;
    background: $color-principal;
    color: $blanco;
    transition: all .5s ease;
    -webkit-appearance: none;
    
    &:hover, &:focus {
        background: $color-principal-dark;
    }
}

/*----------Botones rrss---------*/

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

.message {
    margin-top: -10px;
    text-align: centered;
    margin-bottom: 20px;
}
.message-red {
    margin-top: -10px;
    text-align: centered;
    margin-bottom: 15px;
    font-size: 16px;
}

// Mediaqueries
@media screen and (max-width: 500px) {
    .fila-arriba {
        div {
            width: 100%;

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
}

/*----------botones redes sociales opcion 2----------*/

.contenedor-redes-sociales {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.contenedor-redes-sociales a {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 160px;
    line-height: 35px;
    padding: 0;
    color: #fff;
    border-radius: 50px;
    background: #fff;
    margin: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.contenedor-redes-sociales a:hover span.circulo {
    left: 100%;
    margin-left: -35px;
    background: #fff;
}

.contenedor-redes-sociales a:hover span.titulo {
    opacity: 0;
}

.contenedor-redes-sociales a:hover span.titulo-hover {
    opacity: 1;
    color: #fff;
}

.contenedor-redes-sociales a span.titulo-hover {
    opacity: 0;
}

.contenedor-redes-sociales a span.circulo {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 50%;
}

.contenedor-redes-sociales a span.circulo i {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}

.contenedor-redes-sociales a span.titulo {
    right: 15px
}

.contenedor-redes-sociales a span.titulo-hover {
    left: 15px
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: rgb(148, 148, 148);
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  :root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
  

/*----------Colores de los botones rrss Opción 2----------*/

.contenedor-redes-sociales .facebook {
    border: 2px solid #3b5998;
}

.contenedor-redes-sociales .facebook:hover, .contenedor-redes-sociales .facebook span.circulo {
    background: #3b5998;
}

.contenedor-redes-sociales .facebook:hover span.circulo, .contenedor-redes-sociales .facebook span.titulo {
    color: #3b5998;
}

.contenedor-redes-sociales .twitter {
    border: 2px solid #1da1f2;
}

.contenedor-redes-sociales .twitter:hover, .contenedor-redes-sociales .twitter span.circulo {
    background: #1da1f2;
}

.contenedor-redes-sociales .twitter:hover span.circulo, .contenedor-redes-sociales .twitter span.titulo {
    color: #1da1f2;
}

.contenedor-redes-sociales .gplus {
    border: 2px solid #dd4b39;
}

.contenedor-redes-sociales .gplus:hover, .contenedor-redes-sociales .gplus span.circulo {
    background: #dd4b39;
}

.contenedor-redes-sociales .gplus:hover span.circulo, .contenedor-redes-sociales .gplus span.titulo {
    color: #dd4b39;
}
/*--------------Fin Botones rrss--------------*/

@media screen and (max-width: 400px) {
    .contenedor-tabs {
        li a {
            width: 100%;
        }
    }
  
}