<div class="col-md-10 offset-md-1">
    <span class="anchor" id="formComplex"></span>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Información General Vehiculo Consultado</h3>
        </div>
        <div class="card-body">
            <div class="row mt-12">
                <!-- primer nombre -->
                <div class="col-sm-4 pb-3 form-group">
                    <label for="exampleAccount" for="iddoc"><b>Tipo de Vehiculo</b></label>
                    <h4>{{datos.tipveh}}</h4>
                </div>
                <div class="col-sm-4 pb-3 form-group">
                    <label for="exampleAccount" for="iddoc"><b>Nombre</b></label>
                    <h4>{{datos.detveh}}</h4>
                </div>
                <div class="col-sm-4 pb-3 form-group">
                    <label for="exampleAccount" for="iddoc"><b>Placa</b></label>
                    <h4>{{datos.plaveh}}</h4>
                </div>
                <!-- Segundo Nombre -->
            </div>
            <div class="row mt-12">
                <!-- primer nombre -->
                <div class="col-sm-4 pb-3 form-group">
                    <label for="exampleAccount" for="iddoc"><b>Modelo</b></label>
                    <h4>{{datos.modveh}}</h4>
                </div>
                <div class="col-sm-4 pb-3 form-group">
                    <label for="exampleAccount" for="iddoc"><b>Observaciones</b></label>
                    <h4>{{datos.observacion}}</h4>
                </div>
                <div class="col-sm-4 pb-3 form-group">
                    <label for="exampleAccount" for="iddoc"><b>Marca</b></label>
                    <h4>{{datos.marveh}}</h4>
                </div>
                <!-- Segundo Nombre -->
            </div>
        </div>
    </div>
</div>
<hr size="10" />

<br>
<div class="container">
    <div class="left">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="row justify-content-center">
                <h2>
                    Documentos con fecha.
                </h2>
                <div class="col-md-10 offset-md-1">
                    <span class="anchor" id="formComplex"></span>
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Ingrese la información requerida</h3>
                        </div>
                        <div class="card-body">
                            <div class="row mt-12">
                                <!-- primer nombre -->
                                <div class="col-sm-12 pb-3 form-group">
                                    <label for="exampleAccount" for="iddoc"><b>Documento *</b></label>
                                    <select class="form-select col" id="inputGroupSelect01" name="iddoc"
                                        placeholder="iddoc" for="iddoc" #iddoc="ngModel"
                                        [(ngModel)]="documentosCF.iddoc" required>
                                        <option *ngFor="let td of docConFecha" value={{td.id}}>{{td.id}} - {{td.detdoc}}
                                        </option>
                                    </select>
                                </div>
                                <!-- Segundo Nombre -->
                            </div>
                            <div class="row mt-12">
                                <div class="col-sm-6 pb-3 form-group">

                                    <label for="exampleAccount" for="fecini"><b>Fecha Inicial *</b></label>
                                    <input type="date" class="form-control" id="exampleAccount" name="fecini"
                                        value=today min="1920-01-01" max="2030-12-31" placeholder="Fecha Inicial"
                                        #fecini="ngModel" [(ngModel)]="documentosCF.fecini" required>
                                    <small *ngIf="!fecini.valid && fecini.touched" class="invalid-feedback d-block">
                                        Dato Incorrecto!
                                    </small>

                                </div>
                                <div class="col-sm-6 pb-3 form-group">

                                    <label for="exampleAccount" for="fecfin"><b>Fecha Final *</b></label>
                                    <input type="date" class="form-control" id="exampleAccount" name="fecfin"
                                        value=today min="1920-01-01" max="2030-12-31" placeholder="Fecha Final"
                                        #fecfin="ngModel" [(ngModel)]="documentosCF.fecfin" required>
                                    <small *ngIf="!fecfin.valid && fecfin.touched" class="invalid-feedback d-block">
                                        Dato Incorrecto!
                                    </small>

                                </div>
                            </div>
                            <!-- Apellidos -->
                            <div class="row mt-12">
                                <!-- primer apellido -->
                                <div class="col-sm-12 pb-3 form-group">
                                    <label for="exampleAccount" for="observacion"><b>Observación</b></label>
                                    <input class="form-control" id="exampleAccount" name="observacion"
                                        placeholder="Observacion" type="text" #observacion="ngModel"
                                        [(ngModel)]="documentosCF.observacion">
                                    <small *ngIf="!observacion.valid && observacion.touched"
                                        class="invalid-feedback d-block">
                                        El campo no es valido!
                                    </small>
                                </div>
                            </div>
                            <div class="row mt-12">

                                <div class="form-group">
                                    <label for="image">Subir Soporte</label>
                                    <input type="file" name="image" id="image" class="form-control" #image="ngModel"
                                        [(ngModel)]="documentosCF.image" (change)="uploadImage($event)">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-4">
                                <div class="float-right">
                                    <div class="row mt-4">
                                        <div class="col-sm-10 pb-3">
                                            <input class="btn btn-success" type="submit" value="Enviar Información"
                                                [disabled]="registerForm.invalid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br>
    </div>
    <div class="right">
        <form #registerSFForm="ngForm" (ngSubmit)="onSubmitSF(registerSFForm)">
            <div class="row justify-content-center">
                <h2>
                    Documentos sin fecha.
                </h2>
                <div class="col-md-10 offset-md-1">
                    <span class="anchor" id="formComplex"></span>
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Ingrese la información requerida</h3>
                        </div>
                        <div class="card-body">
                            <br>
                            <div class="row mt-12">
                                <div class="col-sm-12 pb-3 form-group">
                                    <label for="exampleAccount" for="iddoc"><b>Documento *</b></label>
                                    <select class="form-select col" id="inputGroupSelect01" name="iddoc"
                                        placeholder="iddoc" for="iddoc" #iddoc="ngModel"
                                        [(ngModel)]="documentosSF.iddoc" required>
                                        <option *ngFor="let td of docSinFecha" value={{td.id}}> {{td.id}} -
                                            {{td.detdoc}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-12">

                                <div class="col-sm-12 pb-3 form-group">
                                    <label for="exampleAccount" for="observacion"><b>Observación</b></label>
                                    <input class="form-control" id="exampleAccount" name="observacion"
                                        placeholder="Observacion" type="text" #observacion="ngModel"
                                        [(ngModel)]="documentosSF.observacion">
                                    <small *ngIf="!observacion.valid && observacion.touched"
                                        class="invalid-feedback d-block">
                                        El campo no es valido!
                                    </small>
                                </div>
                            </div>
                            <div class="row mt-12">
                                <div class="form-group">
                                    <label for="image">Subir Soporte</label>
                                    <input type="file" name="image" id="image" class="form-control" #image="ngModel"
                                        [(ngModel)]="documentosSF.image" (change)="uploadImage($event)">
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-4">
                                <div class="float-right">
                                    <div class="row mt-4">
                                        <div class="col-sm-10 pb-3">
                                            <input class="btn btn-success" type="submit" value="Enviar Información"
                                                [disabled]="registerSFForm.invalid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>




    </div>
</div>

<hr size="10" />
<br>
<div>
    <cdk-virtual-scroll-viewport style="height: 600px" itemSize=5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">¿Vencido?</th>
                    <th scope="col">Observación</th>
                </tr>
            </thead>

            <tbody>
                <tr *cdkVirtualFor="let dt of res_doc | filter:filterPost">
                    <th scope="row">{{dt.id}}</th>
                    <td>{{dt.iddoc}}</td>
                    <td>{{dt.iddoc_detalle}}</td>
                    <td>
                        {{dt.fecini}}
                    </td>
                    <td>{{dt.fecfin}}</td>
                    <td><button type="button" class="btn btn-warning" (click)="vencido(dt)">¿Consultar?</button></td>
                    <td>{{dt.iddoc_detalle}}</td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>

</div>